/* formatting cards in content area */
.content-container{
  margin-top: 20px;
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
  grid-gap: 20px;
}
.card{
  border: 1px solid rgb(12, 23, 56);
  border-radius:20px;
  padding:20px
  overflow: hidden;
}
.card > img{
max-width: 100%;
height:auto;

}
.card>p {
  margin-left: 10px
}
.card>h2{
  margin-left: 10px
}
